.layoutContainer{
    min-height: 100vh;
    background:#fdfdfd 
}
.content{
    padding: 0 50px
}

.ant-list-split .ant-list-item:last-child {
    border-bottom: 1px solid #f0f0f0 !important;
}
.cursor-pointer{
    cursor:pointer
}
.ant-layout-content{
    padding: 0 50px !important;
    padding-top:20px !important;
    padding-bottom:20px !important
}
.ant-layout-header{
    display:flex;
    align-items:center;
    padding-left: 10px;
    margin-bottom:15px
}

@media( min-width:576px){
    .ant-layout-content{
        padding: 0 10px !important;
        padding-bottom:20px !important
    }
}
@media( min-width:768px){
    .ant-layout-content{
        padding: 0 50px !important;
        padding-top:20px !important;
        padding-bottom:20px !important
    }
}


@media( max-width:575px){
    .ant-layout-content{
        padding: 0 10px !important;
        padding-bottom:20px !important
    }
}
